In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/MLP (my notes)/Real-estate_data.csv")
print(df.info())
df.sample(4)
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8747 non-null   object
 3   Estimated Value    8757 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8771 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB
None

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
5,2009-01-02,2009,Greenwich,2868880.0,3300000.0,Single Family,Detached House,3,1,1039.0,1.025953,North
6,2009-01-02,2009,Norwalk,571060.0,1000000.0,Single Family,Detached House,3,2,NaN,1.025953,South
7,2009-01-02,2009,Greenwich,592760.0,920000.0,Single Family,Detached House,3,3,937.0,1.025953,North
8,2009-01-02,2009,NaN,603540.0,1680000.0,Single Family,Detached House,3,1,1039.0,1.025953,East
9,2009-01-02,2009,Bridgeport,137901.0,245000.0,Single Family,Detached House,3,1,956.0,1.025953,West

 **Solve the following Questions**

# Q1

**Q1**  How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.
Remove/Delete - means it will show ``<NA>`` in place of "?"

Note: If there is no value present in the dataset it is represented as ``<NA>`` or ``NAN`` (read pandas documentation for all the other ways to represent null values) in data

In [ ]:
(df.values=="?").sum()

1823

In [ ]:
print(df.apply(lambda x: x[x == '?'].count()))
# total of 1823 values are "?" all lies in "Property" column

# two ways to fill NA values
# df = df.replace('?', pd.NA)
df1 = df.where(df != '?', pd.NA)
# Where the condition is False (meaning the element is "?"), it replaces the value with pd.NA (NaN).
# you could use numpy.nan instead of pd.NA both have the same functionaliy differs in apppeared string.

df2 = df1.fillna(pd.NA)
df2.head(10)

Date                    0
Year                    0
Locality                0
Estimated Value         0
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area             0
property_tax_rate       0
Face                    0
dtype: int64

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,<NA>,Detached House,3,2,1092.0,1.025953,East
5,2009-01-02,2009,Greenwich,2868880.0,3300000.0,Single Family,Detached House,3,1,1039.0,1.025953,North
6,2009-01-02,2009,Norwalk,571060.0,1000000.0,Single Family,Detached House,3,2,NaN,1.025953,South
7,2009-01-02,2009,Greenwich,592760.0,920000.0,Single Family,Detached House,3,3,937.0,1.025953,North
8,2009-01-02,2009,<NA>,603540.0,1680000.0,Single Family,Detached House,3,1,1039.0,1.025953,East
9,2009-01-02,2009,Bridgeport,137901.0,245000.0,Single Family,Detached House,3,1,956.0,1.025953,West

 ## **``learnings``**

* apply()  
Syntax: df.apply(func, axis=0, raw=False, result_type=None, args=(), **kwds)

  Applies a specified function to either rows or columns of a DataFrame.
axis=0 default(for column)


* applymap()

``Usage:`` df.applymap(func) where func is the function to apply to each cell.

``Applications:`` Ideal for element-wise transformations across multiple rows and columns (like scaling, removing outliers, etc.).

``Compared to apply():``

applymap() works on individual cells, while apply() works on whole columns or rows.
applymap() can be slightly faster in some cases due to fewer internal operations.
applymap() is better for simple element-wise operations, while apply() is more versatile for complex column-level tasks.

----------------

* DataFrame.where(cond, other=nan, inplace=False, axis=None, level=None, errors='raise', try_cast=False)

 * cond: The boolean condition to apply to each element.
 - other: The value to replace elements where the condition is False (default is NaN).
 - inplace: If True, modifies the DataFrame in place; otherwise, returns a new DataFrame (default is False).
 - axis: The axis along which to apply the condition (0 for rows, 1 for columns, default is None for both).
 - level: For MultiIndex DataFrames, specifies the level along which to apply the condition.
 - errors: Specifies how to handle errors during casting (e.g., 'raise', 'ignore').
 - try_cast: If True, attempts to cast the result back to the original dtype.

# Q2

**Q2**
* What is the shape of the dataset ?

* What is the value present at the 692th indexed row and 0th indexed column in the data ?

dataframe[692,0] (simpy saying this in a matrix)
rows/ columns starts indexing from zero(0) in python

In [ ]:
print(df.shape)
print(df.iloc[692,0])

(10000, 12)
2009-11-16

# Q3

**Q3** What is the value present at the 546th indexed row and 7th indexed column in the data ?

dataframe[546,7] (simpy saying this in a matrix)
rows/ columns starts indexing from zero(0) in python

In [ ]:
print(df.iloc[546,7])

3

# Q4

**Q4** What are the unique values present in the Locality feature of the dataset?

In [ ]:
df["Locality"].unique()
df["Locality"].dropna().unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', 'Fairfield',
       'West Hartford', 'Stamford'], dtype=object)

## learning

* Use unique() for simple retrieval of unique values.
* Use value_counts() to view both values and their frequencies.
* Use drop_duplicates() to create a DataFrame with unique values.
* Use nunique() to know only the count.

# Q5

**Q5** Which of the following features have missing(NaN) values present in the dataset?
(Note: compute after removing "?")

A) Year

B) Estimated Value

C) Sale Price

D) Locality

E) Property

F) property_tax_rate

In [ ]:
print(df2.apply(lambda x: x.isna().sum()))
# B,D,E

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

 **``learning``**

* isna()
* isnull()   
--------------
``both to check the null values in the dataframe``


print(df.apply(lambda x: x.isna()).count())


Counts the number of rows containing at least one missing value in each column.

.count() in context of dataframes do this, Counts the number of non-missing values (not NaN) in each column or row of a DataFrame.


* isin(values)

A DataFrame with the same shape as df, where each element is True if the corresponding element in df is found in values, and False otherwise.

# Q6

**Q6** Which of the following feature has most missing(NaN) values present in the dataset?
 (Note: compute after removing "?")

A) Locality

B) Estimated Value

C) Property

D) carpet_area

In [ ]:
df2.isna().sum()
# Property

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

# Q7

**Q7** Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?

In [ ]:

# df.drop((df.isnull().sum(axis=1))>2)
# clean_df = df.dropna(thresh=3)
# clean_df = df.query("isnull().sum(axis=1) <= 2")


clean_df = df2[df2.isnull().sum(axis=1) <= 2]
clean_df

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,<NA>,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,<NA>,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,<NA>,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,<NA>,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

**``learnings``**

* Remove rows by label: df.drop(index_list, axis=0)
* Remove columns by name: df.drop(column_list, axis=1)
* Remove rows based on condition: df.drop(df[condition], axis=0)
* Remove duplicate rows: df.drop_duplicates()
* Remove NaNs: df.dropna()
* Filter and drop rows: df[condition].drop(labels, axis=0)

# Q8

**Q8**
Drop all the samples(rows) with missing values in the original dataframe . How many samples remains after that ?

In [ ]:
after_drop=df.dropna()
after_drop

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9993,2022-09-30,2022,West Hartford,121870.0,235000.0,Single Family,Detached House,3,2,1087.0,1.003979,South
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

## Q9

**Q9** Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe.

In [ ]:
even_index=df.iloc[::2]
even_index.reset_index(drop=True, inplace= False).iloc[0,3]

111440.0

**``learnings``**

reset_index()

 - It resets the index of a DataFrame, either creating a new default integer index or using a specified column as the new index.

 -df = df.reset_index(drop=False, inplace=False, col_level=None, col_fill='')
Parameters:

  - drop=False: (default) Preserves the existing index as a column in the DataFrame.
  - drop=True: Drops the existing index, not retaining it as a column.
  - inplace=False: (default) Returns a new DataFrame with the modified index.
  - inplace=True: Modifies the index of the existing DataFrame directly.
  - col_level=None: Specifies the level of a MultiIndex to use as the new index.
  - col_fill='': Fills missing values in the new index column (if created) with a specified value.

## Q10

**Q10** Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe

In [ ]:
even_index.reset_index(drop=True, inplace= False).iloc[332,3]

256200.0

## Q11

**Q11** Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))
 Please consider case sensitivity while giving your solution capital letter ≠ small letter
  If it is a string don't write quotes in the solution.

In [ ]:
odd_index= df.iloc[1::2] #start form 1 with step size of 2 default is 1
odd_index.reset_index(drop=True, inplace= False).iloc[332,3]

352940.0

## Q12

**Q12** Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe. (row/ column indexed from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.

In [ ]:
odd_columns= df.iloc[: : , 1: :2 ]
odd_columns.reset_index(drop=True).iloc[100,5]

'West'

**``learning``**

df.iloc[row_start : row_end : step_size , column_start : column_end : step_size]

## Q13

**Q13** Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe. (row/ column indexed/starts from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.

In [ ]:
even_row_column = df.iloc[ 0: : 2, 0: : 2]
even_row_column.reset_index(drop= True).iloc[255,3]

'Detached House'

## Q14

**Q14** Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

In [ ]:
recent_years= df["Year"].unique()
recent_years = recent_years[::-1]
recent_years = recent_years[0:6]

df["Year"].isin(recent_years).sum()

4749

## Q15

**Q15** Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3

In [ ]:
((df["num_rooms"]== 3) & (df["num_bathrooms" ] == 3)).sum() # sum is going to return an array
# total.item()

# ((df["num_rooms"]== 3) & (df["num_bathrooms" ] == 3)).value_counts()

2730

**``learnings``**

``Aggregation Methods (Returning Arrays of Aggregated Values):``

## Q16

**Q16** Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3

In [ ]:
total=((df["num_rooms"]== 3) | (df["num_bathrooms" ] == 3)).sum()
total.item()

8591

## Q17


**Q17** In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?

In [ ]:
(((df["Year"]== 2022) & (df["Locality"]=="Greenwich") & ( df["num_rooms"]==3)) & df["Face"].isin(["North","East"])).sum()

42

## Q18

**Q18** Calculate the number of samples(rows) that correspond to the month of August across all the years.?

In [ ]:
# month_data=df.groupby(["Year"])["Date"]
# month_data
# pd[pd.to_datetime(df["Date"]).dt.month==8].count()
# df.groupby(["Year"])[pd.to_datetime(df["Date"]).dt.month==8]


# df[pd.to_datetime(df['Date']).dt.month == 8].shape



(pd.to_datetime(df["Date"]).dt.month==8).sum()

1050

In [ ]:
df

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

## Q19

**Q19** According to the data which Locality have highest average Sale Price?

A) Waterbury

B) Bridgeport

C) Greenwich

D) Norwalk

E) Fairfield

F) West Hartford

G) Stamford

In [ ]:
array=df.groupby(["Locality"])["Sale Price"].mean()
#greenwich e+06 means 10^-6
new_dataframe = array.to_frame()

format(value, ".2f")

TypeError: unsupported format string passed to list.__format__

In [ ]:
?format

In [ ]:
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.